<IfModule mod_rewrite.c>
#SetEnv HTTP_MOD_REWRITE On
#Options +FollowSymLinks -MultiViews
RewriteEngine on
RewriteBase /dump
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ index.php?i=$1 [L]
</IfModule>

#CGIPassAuth on

